/* Your CSS Code here. */
.container-fixed {
      width: 600px;
      border: 4px solid lime;
      padding: 10px;
    }
.row{
	border: 4px solid pink
}

    .box {
      border: 1px dotted black;
      padding: 20px;
      color: black;
    }

    .bg1 { background-color: teal; }
    .bg2 { background-color: thistle; }
    .bg3 { background-color: tomato; }
    .bg4 { background-color: turquoise; }
    .bg5 { background-color: violet; }
    .bg6 { background-color: yellowgreen; }
    .bg-empty { background-color: #2b0000; }